* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  
}
.name {
  background-color: #6d9886;
  text-align: center;
  position: relative;
  padding-top: 100px;
  font-family: "Festive", cursive;
}

h1 {
  color: #212121;
  font-size: 312.5%;
  
}
.nice {
  font-family: "Italianno", cursive;
  font-size: 250%;
  font-weight: normal;
}
.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position: absolute;
  right: 450px;
  bottom: 500px;
}
